name: Deploy to Infomaniak

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.INFOMANIAK_SFTP_HOST }}
          username: ${{ secrets.INFOMANIAK_SFTP_USER }}
          password: ${{ secrets.INFOMANIAK_SFTP_PASS }}
          port: ${{ secrets.INFOMANIAK_SFTP_PORT }}
          local-dir: "./"
          server-dir: ${{ secrets.INFOMANIAK_REMOTE_PATH }}/

